path.node.annotation-n2{

    fill:green;
}

path.node.annotation-o2{

    fill:blue;
}

path.node.annotation-ar{

    fill:darkorange;
}

path.node.annotation-Source{

    fill:red;
}

path.arc.annotation-TrailerO2{

    stroke: blue;
    stroke-dasharray: 1px;
    stroke-opacity: .5;
}

path.arc.annotation-SmallO2{

    stroke: darkred;
    stroke-dasharray: 1px;
    stroke-opacity: .8;
}

path.arc.annotation-TruckO2{

    stroke: darkorange;
    stroke-dasharray: 1px;
    stroke-opacity: .8;
}

path.arc.annotation-TrailerN2{

    stroke: green;
    stroke-dasharray: 1px;
    stroke-opacity: .5;
	/* marker-end:url();  */
}

path.arc.annotation-SmallN2{

    stroke: darkred;
    stroke-dasharray: 1px;
    stroke-opacity: .8;
}

path.arc.annotation-TruckN2{

    stroke: darkorange;
    stroke-dasharray: 1px;
    stroke-opacity: .8;
}

path.arc.annotation-TrailerAr{

    stroke: orange;
    stroke-dasharray: 1px;
    stroke-opacity: .5;
}

